* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.wrapper {
  max-width: 1000px;
  width: 100%;
  height: auto;
  margin: 20px 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  word-spacing: 2px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.title-year {
  font-weight: 700;
  font-size: 3.2rem;
  transition: color 0.5s ease;
}

.subtitle {
  font-weight: 500;
  font-size: 1.1rem;
  text-decoration: underline;
  margin-bottom: 15px;
}

#dateNow {
  width: 180px;
  height: 30px;
  font-weight: 700;
  margin-bottom: 15px;
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
}

.list {
  list-style-type: none;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

.challenge-item {
  min-width: 800px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 2rem 1rem;
}

.challenge-name {
  flex: 2;
  text-align: left;
}

.challenge-details {
  flex: 1;
  text-align: left;
}

summary {
  margin-bottom: 10px;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

ul li {
  text-align: left;
}

.challenge-status {
  flex: 1;
  text-align: right;
}

.green {
  background-color: #21bf73;
}

.yellow {
  background-color: #fddb3a;
}

.red {
  background-color: #fd5e53;
}

.title-fullname {
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin: 10px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  list-style-type: none;
}

.social-media a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}

.social-media a:hover {
  color: #c93c11;
  font-weight: 600;
}

.info {
  text-align: center;
  padding: 0 5px;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: 400;
  max-width: 800px;
  width: 100%;
}

.container-skills {
  max-width: 800px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10px;
}

.container-skills-titles {
  font-weight: 600;
  font-size: 1.5rem;
}

.container-skills p {
  font-weight: 400;
  font-size: 1rem;
  margin: 5px 0;
}

.title-keyword {
  text-align: left;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 10px 0;
}

.container-keywords {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}